@model PolyBota.Web.Areas.Endustri.Models.ZamanEtuduModel



<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">@Html.Raw(Model.ZamanEtuduModelItem.ZamanEtuduItem.Id == 0 ? "YENİ KAYIT" : "KAYIT DÜZENLE")</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>



    @using (Html.BeginForm("ZeItemDetailEkleDuzenle", "ZamanEtudu"))
    {
        @Html.HiddenFor(a => a.ZamanEtuduItemDetail.Id)
        <div class="modal-body">
            <div class="row">
                
                <div class="col-sm-12">
                    <div class="form-group">
                        <b>Tarih No</b>
                        @Html.TextBoxFor(x => x.ZamanEtuduItemDetail.Tarih, "{0:yyyy-MM-dd}", new
                        {
                            @class = "form-control",

                            @type = "date"
                        })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <b>Etüt Kategorisi</b>
                        @Html.DropDownListFor(a => a.ZamanEtuduItemDetail.ZamanEtuduKategoriId, Model.ZamanEtuduKategoris.Select(a=> new SelectListItem()
                        {
                            Text = a.KategoriAdi,
                            Value = a.Id.ToString()
                        }), new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <b>Personel Seçimi</b>
                        @Html.DropDownListFor(a => a.ZamanEtuduItemDetail.UserId, Model.Users.Select(a=> new SelectListItem()
                        {
                            Text = a.Name,
                            Value = a.Id.ToString()
                        }), new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <b>Ölçüm </b>
                        @Html.TextBoxFor(a => a.ZamanEtuduItemDetail.OlcumDegeri,new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <b>Açıklama </b>
                        @Html.TextBoxFor(a => a.ZamanEtuduItemDetail.Aciklama,new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <b>Pota Kart Seçimi</b>
                        @Html.DropDownListFor(a => a.ZamanEtuduItemDetail.PotaKartId, Model.PotaKarts.Select(a=> new SelectListItem()
                   {
                       Text = a.PotaKartAdi,
                       Value = a.Id.ToString()
                   }), new { @class = "form-control", @onchange=string.Format("pkDegistir({0})",Model.ZamanEtuduModelItem.ZamanEtuduItem.Id),@id= "pkId" })
                    </div>
                </div>


                <div class="col-md-12" id="bilesen-summary">
                    @Html.Partial("_ZeItemDetailBilesenGetir",Model)
                </div>
                <div class="col-md-12">

                    <button type="submit" class="btn btn-block btn-success">KAYDET</button>

                </div>
            </div>


        </div>
        <div class="modal-footer ">
            <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">KAPAT</button>

        </div>
    }



</div>
