@model PolyBota.Web.Areas.Veritabani.Models.SilmeModel

@{
    ViewBag.Title = "ArizaBildirimHeaderListe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="col-md-8 col-sm-12">
        <div class="col-md-6">
            <h5>Arıza Bildirim Silme Talepleri</h5>

        </div>
        <Div class="col-md-6">
            <div class="btn btn-group" role="group">

                <a class="btn btn-success btn-sm" href="/"><i class="fa fa-reply-all"></i> Anasayfa</a>


            </div>
        </Div>

    </div>
    <div class="col-md-4 col-sm-12">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">

                    <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>

                    <li class="breadcrumb-item active" aria-current="page">Arıza Bildirim Silme Talepleri</li>
                </ol>
            </nav>
        </div>
    </div>


</div>

<div class="clearfix"></div>


<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    Arıza Bildirim Silme Talepleri


                </h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                @using (Html.BeginForm())
                {

                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>

                                    </th>
                                    <th>Arıza No</th>
                                    <th>Kayıt Tarihi</th>
                                    <th>Arıza</th>
                                    <th>Not</th>
                                    <th>Kayıt Tarihi</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                @for (int i = 0; i < Model.DropItems.Count; i++)
                                {
                                    var item = Model.DropItems[i];
                                    @Html.HiddenFor(a=>a.DropItems[i].IdInt)
                                    <tr>
                                        <td>@(i+1)</td>
                                        <td>@item.IdInt</td>
                                        <td>@item.Tanim1</td>
                                        <td>@item.Tanim2</td>
                                        <td>@item.Tanim3</td>
                                        <td>@item.Tanim4</td>
                                        <td>
                                            <div class="btn-group btn-block">
                                                <label class="btn btn-warning beyaz">
                                                    @Html.RadioButtonFor(a=>a.DropItems[i].IdInt2,1) İptal Et
                                                </label>
                                                <label class="btn btn-danger beyaz">
                                                    @Html.RadioButtonFor(a=>a.DropItems[i].IdInt2, 2) Sil
                                                </label>
                                            </div>
                                          
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>

                       
                            <div class="form-group">
                                <button type="submit" class="btn btn-block btn-lg btn-success"><i class="fas fa-edit"></i> İŞLEMLERİ YAP </button>
                            </div>
                        </div>
                  
                    </div>


                }


            </div>
        </div>
    </div>
</div>

