@model PolyBota.Web.Areas.Tanimlamalar.Models.TanimlamaArizaModel

@{
    ViewBag.Title = "ArizaTanimGrupListe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="col-md-8 col-sm-12">
        <div class="col-md-6">
            <h3>Arıza Tanım Grubu Liste</h3>

        </div>
        <div class="col-md-6">
            <div class="btn btn-group" role="group">

                <a class="btn btn-success btn-sm" href="/"><i class="fa fa-reply-all"></i> Anasayfa</a>


            </div>
        </div>

    </div>
    <div class="col-md-4 col-sm-12">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">

                    <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>

                    <li class="breadcrumb-item active" aria-current="page">Arıza Tanım Grubu Listesi</li>
                </ol>
            </nav>
        </div>
    </div>


</div>

<div class="clearfix"></div>



<div class="row">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    Arıza Tanım Grubu Tanım Liste


                </h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">


                <div class="row">
                    <div class="col-md-12">
                        <a href="javascript:" class="btn btn-info" data-toggle="modal" data-target="#modal" onclick="ModalGoster(0,'')">Yeni Kayıt</a>


                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Grup Tanım</th>
                                    <th colspan="2"></th>




                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int t = 0;
                                    foreach (var item in Model.ArizaTanimGrups)
                                    {
                                        t++;



                                        <tr>
                                            <td>@t</td>
                                            <td>@item.ArizaTanimGrupAdi</td>

                                            <td>
                                                <a class="btn btn-block btn-warning beyaz" data-toggle="modal" data-target="#modal" onclick="ModalGoster(@item.Id,'@item.ArizaTanimGrupAdi')"><i class="fa fa-pencil-alt"></i> Düzenle</a>

                                            </td>
                                            <td> <a class="btn btn-block btn-danger beyaz" onclick="ItemSil(@item.Id)"><i class="fa fa-trash"></i> Sil</a></td>





                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">GRUP TANIMI</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>



            @using (Html.BeginForm("ArizaTanimGrupEkleDuzenle", "ArizaTemel"))
            {
                @Html.HiddenFor(a => a.ArizaTanimGrup.Id, new { @id = "tanimId" })

                <div class="modal-body">
                    <div class="row">


                        <div class="col-md-12">
                            <div class="form-group">
                                <b>Grup Tanım Adı</b>
                                @Html.TextBoxFor(a => a.ArizaTanimGrup.ArizaTanimGrupAdi, new { @class = "form-control", @id = "tanimVal" })
                            </div>
                        </div>



                        <div class="col-md-12">

                            <button type="submit" class="btn btn-block btn-success">KAYDET</button>

                        </div>
                    </div>


                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">KAPAT</button>

                </div>
            }



        </div>

    </div>
    <!-- /.modal-dialog -->
</div>

@section Scripts
{
    <script>
        function ModalGoster(tanimId, tanimVal) {
            $("#tanimVal").val(tanimVal);
            $("#tanimId").val(tanimId);
        }

        function ItemSil(id) {


            Swal.fire({
                title: 'Silmek istediğinize emin misiniz ?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sil!'
            }).then((result) => {

                if (result.value) {
                    window.location.href = "/Tanimlamalar/ArizaTemel/ArizaTanimGrupSil/" + id;
                }
            });



        }
    </script>
}